* {
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #90BAF9;
    padding: 20px;
}
h1 {
    margin-bottom: 10px;
    color: rgb(59, 59, 59);
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}
aside {
    background-color: #3F4756;
    color: white;
    padding: 20px 0;
    height:  97%;
}
body {
    font-family: 'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A3ACBD;
    
}
a:hover{
    color: #FCFCD4;
}
h1, h2 {
    text-decoration: underline;
    margin-bottom: 15px;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
aside ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 200px;
}
article {
    padding: 30px;
}

ul, ol {
    padding-left: 20px;
}
h3 {
    margin: 10px 0;
}
aside ul li {
    margin: 5px 0;
}
.parent
{
    display: flex;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid 5px #90BAF9;
}
aside a{
    color: #90BAF9;
    text-decoration: none;
    padding-top: 10px;
}
.footer{
    margin-left: 20px;
}
.intro {
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
